Node-red.json
[{"id":"a3832ee5d563a633","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"6b9d9bbc1fd214eb","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"8c640478d6d4c488","type":"ui_tab","name":"Cesium","icon":"dashboard","disabled":false,"hidden":false},{"id":"a63c67f9e98dd78f","type":"ui_group","name":"Default","tab":"8c640478d6d4c488","disp":true,"width":"7","collapse":false},{"id":"47e0fd86276d74f5","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ff2600","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#ff2600","edited":true},"page-titlebar-backgroundColor":{"value":"#ff2600","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ff674d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ff2600","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"deep-orange","accents":"light-blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"Illinois Space Society","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1076b87f78fc0f6a","type":"ui_tab","name":"Map","icon":"dashboard","disabled":false,"hidden":false},{"id":"652e051b84ea7265","type":"ui_group","name":"Default","tab":"1076b87f78fc0f6a","disp":true,"width":"7","collapse":false},{"id":"ca2272c3.e8396","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"eb69a715491d1c2c","type":"mqtt in","z":"a3832ee5d563a633","name":"","topic":"Flightdata","qos":"2","datatype":"auto-detect","broker":"6b9d9bbc1fd214eb","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":80,"wires":[["f916905b0f5d1a78","9703fb426cccd8a1","a27cbcba6c20f22c"]]},{"id":"f916905b0f5d1a78","type":"debug","z":"a3832ee5d563a633","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":60,"wires":[]},{"id":"b2e8fe4482ac8489","type":"mqtt out","z":"a3832ee5d563a633","name":"","topic":"Flightdata","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6b9d9bbc1fd214eb","x":360,"y":140,"wires":[]},{"id":"3f917f36f65c4f46","type":"inject","z":"a3832ee5d563a633","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"type\":\"data\",\"value\":{\"IMU_mx\":-0.06279172292408176,\"IMU_my\":0.9980266527163617,\"IMU_mz\":-0.06266781304821456,\"IMU_gx\":-0.06279172292408176,\"IMU_gy\":0.9980266527163617,\"IMU_gz\":-0.06266781304821456,\"KX_IMU_ax\":-0.06279172292408176,\"KX_IMU_ay\":0.9980266527163617,\"KX_IMU_az\":-0.06266781304821456,\"gps_lat\":51.774210208277076,\"gps_long\":-86.57143697334729,\"gps_alt\":102600,\"STE_ALT\":-0.06279172292408176,\"STE_VEL\":0.9980266527163617,\"STE_ACC\":-0.06266781304821456,\"STE_APO\":-0.12533562609642912,\"BNO_YAW\":0,\"BNO_PITCH\":0,\"BNO_ROLL\":0,\"RSSI\":-0.06279172292408176,\"sign\":\"qxqxlol\",\"FSM_state\":14.200000000000001,\"Voltage\":-0.06279172292408176,\"TEMP\":-0.06279172292408176,\"frequency\":-0.06279172292408176,\"flap_extension\":-15.894239021328087,\"pressure\":918,\"time\":\"771230\"}}","payloadType":"json","x":150,"y":140,"wires":[["b2e8fe4482ac8489"]]},{"id":"f154e1dbf6da0a23","type":"ui_template","z":"a3832ee5d563a633","group":"a63c67f9e98dd78f","name":"cesium","order":0,"width":"0","height":"0","format":"<iframe src=\"http://10.192.154.230:8080\" style=\"width:100%; height:400px;\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":340,"y":220,"wires":[[]]},{"id":"9703fb426cccd8a1","type":"function","z":"a3832ee5d563a633","name":"function 1","func":"// Extract GPS coordinates\nvar gpsLat = msg.payload.value.gps_lat;\nvar gpsLong = msg.payload.value.gps_long;\n\n// Set the coordinates for the world map node\nmsg.payload = {\n    \"name\": \"Joe\",\n    \"lat\": gpsLat,\n    \"lon\": gpsLong\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":240,"wires":[["f904a7be804fef73","f154e1dbf6da0a23"]]},{"id":"f904a7be804fef73","type":"ui_worldmap","z":"a3832ee5d563a633","group":"652e051b84ea7265","order":1,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"false","path":"/worldmap","x":500,"y":300,"wires":[]},{"id":"5e1f0081.6dc3c","type":"ui_template","z":"a3832ee5d563a633","group":"a63c67f9e98dd78f","name":"window redirect","order":3,"width":0,"height":0,"format":"<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"Node-RED\") {\n          //window.open(\"https://www.nodered.org\");\n          window.location.href = \"https://www.nodered.org\";\n        } \n        if (data == \"GitHub\") {\n          //window.open(\"https://github.com/node-red\");\n          window.location.href = \"http://10.192.154.230:8080\";\n        } \n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":520,"y":360,"wires":[["8582289.2d757d8"]]},{"id":"23caf401.9d6d4c","type":"ui_button","z":"a3832ee5d563a633","name":"","group":"a63c67f9e98dd78f","order":2,"width":"4","height":"1","passthru":false,"label":"Full Screen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"GitHub","payloadType":"str","topic":"","x":150,"y":320,"wires":[["ece06122.7e762"]]},{"id":"ece06122.7e762","type":"trigger","z":"a3832ee5d563a633","name":"reset msg","op1":"","op2":"empty","op1type":"pay","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":320,"y":340,"wires":[["5e1f0081.6dc3c"]]},{"id":"8582289.2d757d8","type":"debug","z":"a3832ee5d563a633","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":440,"wires":[]},{"id":"e93b308a3766dbba","type":"ui_toast","z":"a3832ee5d563a633","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":410,"y":480,"wires":[]},{"id":"a27cbcba6c20f22c","type":"function","z":"a3832ee5d563a633","name":"function 2","func":"// Extract GPS coordinates\nvar gpsLat = msg.payload.value.gps_lat;\nvar gpsLong = msg.payload.value.gps_long;\n\n// Set the coordinates for the world map node\nmsg.payload = \"Coast\";\nmsg.topic = \"FSM State Changed\";\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":280,"wires":[["e93b308a3766dbba"]]}]
